.searchbox {
  display: flex;
  max-width: 75%;
  align-items: center;
  left: 86px;
}
.searchTitle {
  color: #007bff;
  text-align: center;
}
.searchForm {
  box-shadow: 0px 1px 18px 0px #666;
}
.searchText {
  text-align: center;
}
.searchAlert {
  color: red;
  text-align: center;
}
